.actividades{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    margin: 0px 10px 10px;

    &__banner-1{
        background-image: url(../assets/img/surf.jpg);
        background-position: center;
        background-size: cover;
        color: white;
        margin-top: 10px;
        grid-row: 1;
    }

    &__banner-2{
        background-image: url(../assets/img/snowboard.jpg);
        background-position: center;
        background-size: cover;
        grid-row: 2;
    }

    &__banner-3{
        background-image: url(../assets/img/kayak.jpg);
        background-position: center;
        background-size: cover;
        grid-row: 3;
        color: white;
    }

    &__banner-4{
        background-image: url(../assets/img/yoga.jpg);
        background-position: center;
        background-size: cover;
        grid-row: 4;
    }

    &__text{
        font-size: 2rem;
        font-family: 'Poppins', sans-serif;
        align-self: center;
        margin-top: 10px;
        margin: 30px;
    }
}

