.inicio__portada{
    background-image: url(../assets/img/paradise-phone.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    grid-area: portada;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: $principal-typo;
    text-align: center;
    gap: 0.625rem;
    padding: 1.25rem;
}
.portada{
    &__h1{
        font-size: 3rem;
        letter-spacing: 5px;
    }
}