.inicio__portada{
    background-image: url(../assets/img/paradise-phone.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    grid-area: portada;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.portada__h1{
    font-size: 3rem;
    text-align: center;
    letter-spacing: 5px;
}
