.inicio__portada{
    background-image: url(../../assets/img/paradise-phone.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    font-size: 16px;
    grid-area: portada;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.portada__h1{
    text-align: center;
}
