.boton-compra{
    background-color: rgba(21, 21, 21, 1);
    &__p{
        color: rgba(246, 244, 239, 1);
        margin: 5px;
        text-transform: uppercase;
    }
}
.boton-formulario{
    width: 60px;
}